*, *::after, *::before{
    box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", 'Noto Sans TC', "Microsoft JhengHei", "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
}
img{
    max-width: 100%;
	height: auto;
    vertical-align: middle;
}
a{
	text-decoration: none;
	display: block;
}

