.header{
	background: $main-color;
	padding: 25px 0;
  position: relative;
    .headerContent{
    // max-width: 90%;
    // padding: 0 12px;
    // margin: 0 auto;
    @include content-style;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    h1>a{
        background: url(../images/week3-4/logo-white.png);
        width: 80px;
        height: 48.6px;
        background-size: cover;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
    }
    .nav{
        display: flex;
        justify-content: space-between;
        width: 492px;
        text-align: center;
        @include iphone{
        display: none;
        }
        a{
        color: #fff;
        font: normal normal normal 20px/30px Source Han Sans TW;
        padding: 5% 0;
        &:hover{
          opacity: 0.5;
        }
        }
    }
    }
}


.hamburger{
  display: none;
  position: absolute;
  top: 20px;
  right: 5%;
  font-size: 40px;
  color:#fff;
  @include iphone{
    display: block;
  }
}
.dropMenu{
  max-height: 0;
  overflow: hidden;
  background: $main-color;
  opacity:0.8;
  text-align: center;
  position: absolute;
  top: 98px;
  left: 0;
  right: 0;
  transition: max-height 2s;
  z-index: 9;
  a{
    padding: 3% 0;
    color:#fff;
    font: normal normal normal 20px/30px Source Han Sans TW;
    &:hover{
      background: $primary-color;
    }
  }
}
.active{
  max-height: 700px;
}

.footer{
    padding: 48px 0 32px;
    background: $main-color;
    @include iphone{
      padding: 24px 0 16px;
    }
    .footerContent{
      @include content-style;
      
      .footerTop{
        display: flex;
        justify-content: space-between;
        // align-items: center;
        flex-wrap: wrap;
        margin-bottom: 8px;
        border-bottom: 1px solid #fff;
        .menu{
          width: 100%;
          display: flex;
          justify-content: space-between;
          @include ipad{
            width: 100%;
          }
          @include iphone{
            display: none;
          }
          a{
            font: normal normal normal 16px/24px Source Han Sans TW;
            color:#fff;
          }
        }
        .footerMedium{
          padding-bottom: 32px;
          @include iphone{
            padding-bottom: 24px;
          }
          a{
            font: normal normal normal 36px/54px Source Han Sans TW;
            color:#fff;
            margin-top: 16px;
            @include iphone{
              margin: 0;
            }
          i{
            width: 36px;
            margin-right: 22px;
            @include iphone{
              width: 24px;
              margin-right: 11px;
            }
          }
            @include iphone{
                font: normal normal normal 16px/24px Source Han Sans TW;
            }
          }
        }
        .media{
          width: 20%;
          display: flex;
          justify-content: space-between;
          @include ipad{
            width: 35%;
          }
          @include iphone{
            width: 30%;
          }
          img{
            width: 48px;
            height: 48px;
            @include iphone{
              width: 24px;
              height: 24px;
            }
          }
        }
      }
      
      .footerbottom{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        p{
          font: normal normal normal 16px/24px Roboto;
          color:#fff;
          @include iphone{
            width: 100%;
            margin-bottom: 8px;
          }
        }
        .provicy{
          width: 15%;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          @include ipad{
            width: 20%;
          }
          @include iphone{
            width: 40%;
          }
          a{
            font: normal normal normal 14px/21px Source Han Sans TW;
            color:#fff;
            @include iphone{
              width: 100%;
              margin-bottom: 8px;
            }
          }
        }
      }
    }
  }