.questionMain{
    width: 66.66%;
    margin: $space*24 0 $space*20;
    @include ipad{
        margin: $space*20 0 $space*14;
    }
    @include iphone{
        margin: $space*10 0 $space*16;
    }
    h2{
        font-size: 48px;
        font-weight: 700;
        padding-left: $space*4;
        margin-bottom: $space*8;
        border-left: 8px solid #9F1213;
        @include iphone{
            font-size: 24px;
            margin-bottom: $space*6;
        }
    }
    h3{
        font-size: 24px;
        font-weight: 700;
        margin-bottom: $space*6;
        @include iphone{
            font-size: 16px;
            margin-right: $space*2;
        }
    }
    .questions{
        h4{
            font-size: 20px;
            font-weight: 700;
            margin-bottom: $space*2;
        }
        p{
            font-size: 16px;
            margin-bottom: $space*8;
        }
    }
}